<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>f1487146b30e92fc07ae42f44de3c5d7</string>
	<key>spButtonIcon</key>
	<string>icStickerx3</string>
	<key>Theme</key>
	<dict>
		<key>themeType</key>
		<string>light</string>
		<key>backgroundColor</key>
		<dict>
			<key>light</key>
			<string>#FFFFFF</string>
			<key>dark</key>
			<string>#171B1C</string>
		</dict>
		<key>groupedContentBackgroundColor</key>
		<dict>
			<key>light</key>
			<string>#F7F8F9</string>
			<key>dark</key>
			<string>#2E363A</string>
		</dict>
		<key>mainColor</key>
		<dict>
			<key>light</key>
			<string>#FF5D1E</string>
			<key>dark</key>
			<string>#FF855B</string>
		</dict>
		<key>iconColor</key>
		<dict>
			<key>normalColor</key>
			<dict>
				<key>light</key>
				<string>#414141</string>
				<key>dark</key>
				<string>#646F7C</string>
			</dict>
			<key>tintColor</key>
			<dict>
				<key>light</key>
				<string>#6C31D5</string>
				<key>dark</key>
				<string>#6C31D5</string>
			</dict>
		</dict>
		<key>font</key>
		<dict>
			<key>family</key>
			<string></string>
			<key>weight</key>
			<string></string>
			<key>character</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Search</key>
	<dict>
		<key>searchbarIcon</key>
		<string>iconSearch</string>
		<key>searchbarDeleteIcon</key>
		<string>iconEraseClosex3</string>
		<key>searchbarRadius</key>
		<integer>3</integer>
		<key>searchTags</key>
		<dict>
			<key>hidden</key>
			<false/>
		</dict>
		<key>numOfColumns</key>
		<integer>3</integer>
	</dict>
	<key>LiteStore</key>
	<dict>
		<key>trending</key>
		<dict>
			<key>useBackgroundColor</key>
			<true/>
			<key>backgroundColor</key>
			<string>#eeeeee</string>
			<key>opacity</key>
			<real>0.7</real>
		</dict>
		<key>listType</key>
		<string>horizontal</string>
		<key>downloadIcon</key>
		<string>icDownloadx3</string>
		<key>completeIcon</key>
		<string>icDownloadedx3</string>
		<key>bottomOfSearch</key>
		<string>recommendedTags</string>
	</dict>
	<key>MySticker</key>
	<dict>
		<key>moveIcon</key>
		<string>icMovex3</string>
		<key>hideIcon</key>
		<string>icHidex3</string>
	</dict>
	<key>Keyboard</key>
	<dict>
		<key>liteStoreIcon</key>
		<string>icStore</string>
		<key>numOfColumns</key>
		<integer>3</integer>
	</dict>
	<key>Sticker</key>
	<dict>
		<key>backIcon</key>
		<string>icGoToBackx3</string>
		<key>closeIcon</key>
		<string>icClosex3</string>
		<key>numOfColumns</key>
		<integer>3</integer>
	</dict>
	<key>Send</key>
	<dict>
		<key>favoritesOnIcon</key>
		<dict>
			<key>light</key>
			<string>icFavoritesOn</string>
			<key>dark</key>
			<string>icFavoritesOn</string>
		</dict>
		<key>favoritesOffIcon</key>
		<dict>
			<key>light</key>
			<string>icFavoritesOff</string>
			<key>dark</key>
			<string>icFavoritesOff</string>
		</dict>
		<key>closeIcon</key>
		<dict>
			<key>light</key>
			<string>icCancel</string>
			<key>dark</key>
			<string>icCancel</string>
		</dict>
	</dict>
</dict>
</plist>
